{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "utils": "./src/utils",
          "components": "./src/components",
          "images": "./src/images",
          "constants": "./src/constants"
        }
      }
    ]
  ]
}
